/* 
    Document   : console
    Created on : 16 nov. 2012, 10:47:41
    Author     : wlcd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   This style is related to the behavior and looks of the console, if there is
anything you want to change about the looks of the console, you should do it here.
*/

/*
root { 
    display: block;
}*/

#console {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
    height: 250px;
    background-color: black;
    color: white;
    opacity: 0.8;
    padding : 4px;
}


